.App {
  text-align: center;
}

.container {
  text-align: center;
  width: 500px;
  margin: auto;
}

h1{
  font-size: xx-large;
  color: rgb(66, 13, 13);
}

input, li{
  font-size: large;
  color: brown;
  border: 1px solid rgb(224, 192, 132); 
  list-style-type: none;
}

button{
  color:  rgb(112, 4, 4);
  background-color:blanchedalmond;
  float: right;
  cursor: pointer;
}

.addButton{
  float: none;
}